<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous">
@{
    ViewBag.Title = "Meal Rater";
    ViewBag.Message = "An N-Tier MVC 5 Web Application designed in Visual Studio 2017 using a combination of skills";
}
<h1 class="text-primary">@ViewBag.Title</h1>
<h3>@ViewBag.Message</h3>

<hr />

<h5>I am currently seeking employment. Visit the contact page for my information. A copy of my résumé and portfolio can be found below. </h5>
<a href="https://docs.google.com/document/d/1fe0BPLuQTild6b8l4UL6QwPRnnk8OpAQQRCLv4p-Ns0/edit?usp=sharing" class="btn btn-outline-primary text-left">Résumé</a>
<a href="https://stephenlockard.github.io/" class="btn btn-outline-primary text-left">Portfolio</a>


