<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous">
@{
    ViewBag.Title = "Meal Rater";
    ViewBag.Message = "An N-Tier MVC 5 Web Application";
}
<h2 class="text-primary">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<hr />
<h6>This web application was designed in Visual Studio 2017 using a combination of skills including N-Tier design, MVC presentation, .NET Framework, Entity Framework, LINQ, C#, SQL, html 5, css 3, and bootstrap 4 </h6>

